/*************************
*****Default COLOR*****
**************************/

.boxwidth_body {
-webkit-box-shadow: 0 0 10px 1px hsl(0, 0%, 67%);
box-shadow: 0 0 10px 1px hsl(0, 0%, 67%);
margin: 0 auto;
max-width: 1170px;
background: #E9EBEE
}

.boxwidth_body .service_area {
  background: #fff;
  padding-bottom: 82px;
}

.boxwidth_body .offer_area_full {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  padding-bottom: 95px;
  padding-top: 80px;
}
.boxwidth_body .case_area {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    padding-bottom: 70px;
}
.boxwidth_body .pricing-table.section-padding {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
}
.boxwidth_body .blogpost_area {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
}
.boxwidth_body .footer_area {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
}
.boxwidth_body .cta_area {
  margin: 0;
}
.boxwidth_body .sponsors_area {
  margin-top: 0;
}
.boxwidth_body .testimonial_area {
  margin-top: 0;
}
.boxwidth_body .blogpost_area {
  margin-top: 0px;
}
.boxwidth_body .footer_area {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 50px;
}
.boxwidth_body li.smooth-menu {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  color: hsla(0, 0%, 0%, 0);
}

.boxwidth_body .is-sticky .menubar_area {
  left: auto;
  margin: 0 auto;
  max-width: 1170px;
}


.wide_moodstyle .layout_mood .wide_mood  {
    color: #fff;
}

.boxwidth_body .layout_mood .wide_mood  {
    color: #222;
    background: #fff
}

.wide_moodstyle .layout_mood .boxwith_mood  {
    color: #222;
    background: #fff
}

.boxwidth_body .layout_mood .boxwith_mood  {
    color: #fff;
}

.boxwidth_body .about-us-area {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 84px;
  padding-top: 100px;
}
.boxwidth_body .awesome-team-member {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  margin-top: 0px;
  padding-bottom: 18px;
}
.boxwidth_body .footer_area.page_boxwidth_footer {
  padding-top: 100px;
}

.boxwidth_body .blogpost_area {
  padding-bottom: 54px;
}

.boxwidth_body .case_information {
  margin-right: -4px;
}

.boxwidth_body .cta_area.service_details_cta {
 margin: 0px 0 40px;
}

.boxwidth_body .service_plan_area {
  background: #fff;
  margin: 0;
  padding-bottom: 80px;
  padding-top: 60px;
}
.boxwidth_body .awesome-team-member.team_page {
  padding-bottom: 100px;
  padding-top: 100px;
}
.boxwidth_body .testimonial_area_page {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  padding-bottom: 61px;
  padding-top: 100px;
  margin: 0;
}

.boxwidth_body .blogpost_area.single_blog_page {
  padding-top: 100px;
}

.boxwidth_body .blog-content-area {
  background: #fff;
}
.boxwidth_body .location_information {
  right: 37px;
}

.boxwidth_body .fullslider_area .left-control, .boxwidth_body  .fullslider_area .right-control {
    display: none;
}






.body_bg_1 {
    background-image: url(../images/bg-patterns/whirlpool.png);
    background-repeat: repeat;
}
.body_bg_2 {
    background-image: url(../images/bg-patterns/pattern-2.png);
    background-repeat: repeat;
}
.body_bg_3 {
    background-image: url(../images/bg-patterns/pattern-1.jpg);
    background-repeat: repeat;
}
.body_bg_4 {
    background-image: url(../images/bg-patterns/pattern-4.png);
    background-repeat: repeat;
}
.body_bg_5 {
    background-image: url(../images/bg-patterns/pattern-5.png);
    background-repeat: repeat;
}
.body_bg_6 {
    background-image: url(../images/bg-patterns/pattern-6.png);
    background-repeat: repeat;
}
.body_bg_7 {
    background-image: url(../images/bg-patterns/pattern-7.png);
    background-repeat: repeat;
}
.body_bg_8 {
    background-image: url(../images/bg-patterns/pattern-8.png);
    background-repeat: repeat;
}
.body_bg_9 {
    background-image: url(../images/bg-patterns/pattern-9.png);
    background-repeat: repeat;
}
.body_bg_10 {
    background-image: url(../images/bg-patterns/pattern-11.jpg);
    background-repeat: repeat;
}
.body_bg_1 .pricing-table, .body_bg_2 .pricing-table, .body_bg_3 .pricing-table, .body_bg_4 .pricing-table, .body_bg_5 .pricing-table, .body_bg_6 .pricing-table, .body_bg_7 .pricing-table, .body_bg_8 .pricing-table, .body_bg_9 .pricing-table, .body_bg_10 .pricing-table {
  background: transparent;
}





.menu_button,
.button,
.active_case .single_case_text,
.single_case:hover .single_case_text,
.nav-tabs li.active a,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover,
.page_single_testimonial:hover,
.post_pagination > a:hover,
.faq_menu_title li.active a,
.nav-tabs li.single_tab a:hover,
.single_blog:hover .blog_content,
.single_plan > img,
.case_information,
.comment_button button,
.submit_btn,
.cta_btn,
.single_service:hover,
.active_service .single_service,
.single-pricing-box:hover,
.active_table .single-pricing-box,
.boxwidth_body .layout_mood .boxwith_mood {
  background: #ffb72f none repeat scroll 0 0 !important;
}


.section_title h2 span,
#demo-box i.fa,
.topheader_right a i:hover,
.main_menu ul li a:hover,
.ss-trigger i:hover,
.ss-close i,
.slider_area h1 span,
.check_seo_area h1 span,
.cta_text > h2 span,
.offer_area h1 span,
.right-control.carousel-control,
.left-control i,
.right-control i,
.left-control i,
.right-control i,
.single_widget ul li a:hover,
.copyright span,
.about-us-right span,
.awesome-team-member-top span,
.blog-details a:hover,
.comments-info .fa.fa-reply-all,
.primary_area h5 i,
.map_social a i:hover,
.learn_more,
.error_page > h1,
.about-title-area span {
  color: #ffb72f;
}



.primary_area h5 i,
.layout_mood .wide_mood,
.layout_mood .boxwith_mood {
    border: 2px solid #FFB72F;
}
.map_social > span {
    border-top: 1px solid #FFB72F;
}

.ssc-inner form input {
  border-color: -moz-use-text-color -moz-use-text-color #ffb72f;
}

#toTop {
  background: #ffb72f url("../images/totop.png") no-repeat scroll 0 0;
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
.main_menu ul li a:hover {
    background: #FFB72F;
}
    

}



/*************************
*****LIGHTGREEN COLOR*****
**************************/

.lightgren-color .menu_button,
.lightgren-color .button,
.lightgren-color .active_case .single_case_text,
.lightgren-color .single_case:hover .single_case_text,
.lightgren-color .nav-tabs li.active a,
.lightgren-color .nav-tabs > li.active > a, 
.lightgren-color .nav-tabs > li.active > a:focus, 
.lightgren-color .nav-tabs > li.active > a:hover,
.lightgren-color .page_single_testimonial:hover,
.lightgren-color .post_pagination > a:hover,
.lightgren-color .faq_menu_title li.active a,
.lightgren-color .nav-tabs li.single_tab a:hover,
.lightgren-color .single_blog:hover .blog_content,
.lightgren-color .single_plan > img,
.lightgren-color .case_information,
.lightgren-color .comment_button button,
.lightgren-color .active_service .single_service,
.lightgren-color .single_service:hover,
.lightgren-color .submit_btn,
.lightgren-color .cta_btn,
.lightgren-color .single-pricing-box:hover,
.boxwidth_body.lightgren-color .layout_mood .boxwith_mood,
.wide_moodstyle.lightgren-color .layout_mood .wide_mood,
.lightgren-color .active_table .single-pricing-box {
  background: #72A230 none repeat scroll 0 0 !important;
}


.lightgren-color .section_title h2 span,
.lightgren-color #demo-box i.fa,
.lightgren-color .topheader_right a i:hover,
.lightgren-color .main_menu ul li a:hover,
.lightgren-color .ss-trigger i:hover,
.lightgren-color .ss-close i,
.lightgren-color .slider_area h1 span,
.lightgren-color .check_seo_area h1 span,
.lightgren-color .cta_text > h2 span,
.lightgren-color .offer_area h1 span,
.lightgren-color .right-control.carousel-control,
.lightgren-color .left-control i,
.lightgren-color .right-control i,
.lightgren-color .left-control i,
.lightgren-color .right-control i,
.lightgren-color .single_widget ul li a:hover,
.lightgren-color .copyright span,
.lightgren-color .about-us-right span,
.lightgren-color .awesome-team-member-top span,
.lightgren-color .blog-details a:hover,
.lightgren-color .comments-info .fa.fa-reply-all,
.lightgren-color .primary_area h5 i,
.lightgren-color .map_social a i:hover,
.lightgren-color .cta_btn,
.lightgren-color .learn_more,
.lightgren-color .about-title-area span,
.lightgren-color .error_page > h1 {
  color: #72A230;
}



.lightgren-color .primary_area h5 i,
.lightgren-color .layout_mood .wide_mood,
.lightgren-color .layout_mood .boxwith_mood {
    border: 2px solid #72A230;
}
.lightgren-color .map_social > span {
    border-top: 1px solid #72A230;
}

.lightgren-color .ssc-inner form input {
  border-color: -moz-use-text-color -moz-use-text-color #72A230;
}

.lightgren-color #toTop {
  background: #72A230 url("../images/totop.png") no-repeat scroll 0 0;
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
.lightgren-color .main_menu ul li a:hover {
    background: #72A230;
}
    

}


/*************************
*****BLUE COLOR*****
**************************/


.blue-color .menu_button,
.blue-color .button,
.blue-color .active_case .single_case_text,
.blue-color .single_case:hover .single_case_text,
.blue-color .nav-tabs li.active a,
.blue-color .nav-tabs > li.active > a, 
.blue-color .nav-tabs > li.active > a:focus, 
.blue-color .nav-tabs > li.active > a:hover,
.blue-color .page_single_testimonial:hover,
.blue-color .post_pagination > a:hover,
.blue-color .faq_menu_title li.active a,
.blue-color .nav-tabs li.single_tab a:hover,
.blue-color .single_blog:hover .blog_content,
.blue-color .single_plan > img,
.blue-color .case_information,
.blue-color .comment_button button,
.blue-color .active_service .single_service,
.blue-color .single_service:hover,
.blue-color .submit_btn,
.blue-color .cta_btn,
.blue-color .single-pricing-box:hover,
.boxwidth_body.blue-color .layout_mood .boxwith_mood,
.wide_moodstyle.blue-color .layout_mood .wide_mood,
.blue-color .active_table .single-pricing-box {
  background: #21C8FF none repeat scroll 0 0 !important;
}


.blue-color .section_title h2 span,
.blue-color #demo-box i.fa,
.blue-color .topheader_right a i:hover,
.blue-color .main_menu ul li a:hover,
.blue-color .ss-trigger i:hover,
.blue-color .ss-close i,
.blue-color .slider_area h1 span,
.blue-color .check_seo_area h1 span,
.blue-color .cta_text > h2 span,
.blue-color .offer_area h1 span,
.blue-color .right-control.carousel-control,
.blue-color .left-control i,
.blue-color .right-control i,
.blue-color .left-control i,
.blue-color .right-control i,
.blue-color .single_widget ul li a:hover,
.blue-color .copyright span,
.blue-color .about-us-right span,
.blue-color .awesome-team-member-top span,
.blue-color .blog-details a:hover,
.blue-color .comments-info .fa.fa-reply-all,
.blue-color .primary_area h5 i,
.blue-color .map_social a i:hover,
.blue-color .cta_btn,
.blue-color .learn_more,
.blue-color .about-title-area span,
.blue-color .error_page > h1 {
  color: #21C8FF;
}



.blue-color .primary_area h5 i,
.blue-color .layout_mood .wide_mood,
.blue-color .layout_mood .boxwith_mood {
    border: 2px solid #21C8FF;
}
.blue-color .map_social > span {
    border-top: 1px solid #21C8FF;
}

.blue-color .ssc-inner form input {
  border-color: -moz-use-text-color -moz-use-text-color #21C8FF;
}

.blue-color #toTop {
  background: #21C8FF url("../images/totop.png") no-repeat scroll 0 0;
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
.blue-color .main_menu ul li a:hover {
    background: #21C8FF;
}
    

}


/*************************
*****RED COLOR*****
**************************/


.darkblue-color  .menu_button,
.darkblue-color  .button,
.darkblue-color  .active_case .single_case_text,
.darkblue-color  .single_case:hover .single_case_text,
.darkblue-color  .nav-tabs li.active a,
.darkblue-color  .nav-tabs > li.active > a, 
.darkblue-color  .nav-tabs > li.active > a:focus, 
.darkblue-color  .nav-tabs > li.active > a:hover,
.darkblue-color  .page_single_testimonial:hover,
.darkblue-color  .post_pagination > a:hover,
.darkblue-color  .faq_menu_title li.active a,
.darkblue-color  .nav-tabs li.single_tab a:hover,
.darkblue-color  .single_blog:hover .blog_content,
.darkblue-color  .single_plan > img,
.darkblue-color  .case_information,
.darkblue-color  .comment_button button,
.darkblue-color  .active_service .single_service,
.darkblue-color  .single_service:hover,
.darkblue-color  .submit_btn,
.darkblue-color  .cta_btn,
.darkblue-color  .single-pricing-box:hover,
.boxwidth_body.darkblue-color  .layout_mood .boxwith_mood,
.wide_moodstyle.darkblue-color  .layout_mood .wide_mood,
.darkblue-color  .active_table .single-pricing-box {
  background: #2EAC6D none repeat scroll 0 0 !important;
}


.darkblue-color  .section_title h2 span,
.darkblue-color  #demo-box i.fa,
.darkblue-color  .topheader_right a i:hover,
.darkblue-color  .main_menu ul li a:hover,
.darkblue-color  .ss-trigger i:hover,
.darkblue-color  .ss-close i,
.darkblue-color  .slider_area h1 span,
.darkblue-color  .check_seo_area h1 span,
.darkblue-color  .cta_text > h2 span,
.darkblue-color  .offer_area h1 span,
.darkblue-color  .right-control.carousel-control,
.darkblue-color  .left-control i,
.darkblue-color  .right-control i,
.darkblue-color  .left-control i,
.darkblue-color  .right-control i,
.darkblue-color  .single_widget ul li a:hover,
.darkblue-color  .copyright span,
.darkblue-color  .about-us-right span,
.darkblue-color  .awesome-team-member-top span,
.darkblue-color  .blog-details a:hover,
.darkblue-color  .comments-info .fa.fa-reply-all,
.darkblue-color  .primary_area h5 i,
.darkblue-color  .map_social a i:hover,
.darkblue-color  .cta_btn,
.darkblue-color  .learn_more,
.darkblue-color  .about-title-area span,
.darkblue-color  .error_page > h1 {
  color: #2EAC6D;
}



.darkblue-color  .primary_area h5 i,
.darkblue-color  .layout_mood .wide_mood,
.darkblue-color  .layout_mood .boxwith_mood {
    border: 2px solid #2EAC6D;
}
.darkblue-color  .map_social > span {
    border-top: 1px solid #2EAC6D;
}

.darkblue-color  .ssc-inner form input {
  border-color: -moz-use-text-color -moz-use-text-color #2EAC6D;
}

.darkblue-color  #toTop {
  background: #2EAC6D url("../images/totop.png") no-repeat scroll 0 0;
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
.blue-color .main_menu ul li a:hover {
    background: #2EAC6D;
}
    

}

/*************************
*****NAVYBLUE COLOR*****
**************************/


.navyblue-color  .menu_button,
.navyblue-color  .button,
.navyblue-color  .active_case .single_case_text,
.navyblue-color  .single_case:hover .single_case_text,
.navyblue-color  .nav-tabs li.active a,
.navyblue-color  .nav-tabs > li.active > a, 
.navyblue-color  .nav-tabs > li.active > a:focus, 
.navyblue-color  .nav-tabs > li.active > a:hover,
.navyblue-color  .page_single_testimonial:hover,
.navyblue-color  .post_pagination > a:hover,
.navyblue-color  .faq_menu_title li.active a,
.navyblue-color  .nav-tabs li.single_tab a:hover,
.navyblue-color  .single_blog:hover .blog_content,
.navyblue-color  .single_plan > img,
.navyblue-color  .case_information,
.navyblue-color  .comment_button button,
.navyblue-color  .active_service .single_service,
.navyblue-color  .single_service:hover,
.navyblue-color  .submit_btn,
.navyblue-color  .cta_btn,
.navyblue-color  .single-pricing-box:hover,
.boxwidth_body.navyblue-color  .layout_mood .boxwith_mood,
.wide_moodstyle.navyblue-color  .layout_mood .wide_mood,
.navyblue-color  .active_table .single-pricing-box {
  background: #F26522 none repeat scroll 0 0 !important;
}


.navyblue-color  .section_title h2 span,
.navyblue-color  #demo-box i.fa,
.navyblue-color  .topheader_right a i:hover,
.navyblue-color  .main_menu ul li a:hover,
.navyblue-color  .ss-trigger i:hover,
.navyblue-color  .ss-close i,
.navyblue-color  .slider_area h1 span,
.navyblue-color  .check_seo_area h1 span,
.navyblue-color  .cta_text > h2 span,
.navyblue-color  .offer_area h1 span,
.navyblue-color  .right-control.carousel-control,
.navyblue-color  .left-control i,
.navyblue-color  .right-control i,
.navyblue-color  .left-control i,
.navyblue-color  .right-control i,
.navyblue-color  .single_widget ul li a:hover,
.navyblue-color  .copyright span,
.navyblue-color  .about-us-right span,
.navyblue-color  .awesome-team-member-top span,
.navyblue-color  .blog-details a:hover,
.navyblue-color  .comments-info .fa.fa-reply-all,
.navyblue-color  .primary_area h5 i,
.navyblue-color  .map_social a i:hover,
.navyblue-color  .cta_btn,
.navyblue-color  .learn_more,
.navyblue-color  .about-title-area span,
.navyblue-color  .error_page > h1 {
  color: #F26522;
}



.navyblue-color  .primary_area h5 i,
.navyblue-color  .layout_mood .wide_mood,
.navyblue-color  .layout_mood .boxwith_mood {
    border: 2px solid #F26522;
}
.navyblue-color  .map_social > span {
    border-top: 1px solid #F26522;
}

.navyblue-color  .ssc-inner form input {
  border-color: -moz-use-text-color -moz-use-text-color #F26522;
}

.navyblue-color  #toTop {
  background: #F26522 url("../images/totop.png") no-repeat scroll 0 0;
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
.navyblue-color  .main_menu ul li a:hover {
    background: #F26522;
}
    

}


/*************************
*****LIGHT BLUE COLOR*****
**************************/


.red-color .menu_button,
.red-color .button,
.red-color .active_case .single_case_text,
.red-color .single_case:hover .single_case_text,
.red-color .nav-tabs li.active a,
.red-color .nav-tabs > li.active > a, 
.red-color .nav-tabs > li.active > a:focus, 
.red-color .nav-tabs > li.active > a:hover,
.red-color .page_single_testimonial:hover,
.red-color .post_pagination > a:hover,
.red-color .faq_menu_title li.active a,
.red-color .nav-tabs li.single_tab a:hover,
.red-color .single_blog:hover .blog_content,
.red-color .single_plan > img,
.red-color .case_information,
.red-color .comment_button button,
.red-color .active_service .single_service,
.red-color .single_service:hover,
.red-color .submit_btn,
.red-color .cta_btn,
.red-color .single-pricing-box:hover,
.boxwidth_body.red-color .layout_mood .boxwith_mood,
.wide_moodstyle.red-color .layout_mood .wide_mood,
.red-color .active_table .single-pricing-box {
  background: #FF0000 none repeat scroll 0 0 !important;
}


.red-color .section_title h2 span,
.red-color #demo-box i.fa,
.red-color .topheader_right a i:hover,
.red-color .main_menu ul li a:hover,
.red-color .ss-trigger i:hover,
.red-color .ss-close i,
.red-color .slider_area h1 span,
.red-color .check_seo_area h1 span,
.red-color .cta_text > h2 span,
.red-color .offer_area h1 span,
.red-color .right-control.carousel-control,
.red-color .left-control i,
.red-color .right-control i,
.red-color .left-control i,
.red-color .right-control i,
.red-color .single_widget ul li a:hover,
.red-color .copyright span,
.red-color .about-us-right span,
.red-color .awesome-team-member-top span,
.red-color .blog-details a:hover,
.red-color .comments-info .fa.fa-reply-all,
.red-color .primary_area h5 i,
.red-color .map_social a i:hover,
.red-color .cta_btn,
.red-color .learn_more,
.red-color .about-title-area span,
.red-color .error_page > h1 {
  color: #FF0000;
}



.red-color .primary_area h5 i,
.red-color .layout_mood .wide_mood,
.red-color .layout_mood .boxwith_mood {
    border: 2px solid #FF0000;
}
.red-color .map_social > span {
    border-top: 1px solid #FF0000;
}

.red-color .ssc-inner form input {
  border-color: -moz-use-text-color -moz-use-text-color #FF0000;
}

.red-color #toTop {
  background: #FF0000 url("../images/totop.png") no-repeat scroll 0 0;
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
.red-color .main_menu ul li a:hover {
    background: #FF0000;
}
    

}



/*************************
*****LIGHT GREEN*****
**************************/


.light-green .menu_button,
.light-green .button,
.light-green .active_case .single_case_text,
.light-green .single_case:hover .single_case_text,
.light-green .nav-tabs li.active a,
.light-green .nav-tabs > li.active > a, 
.light-green .nav-tabs > li.active > a:focus, 
.light-green .nav-tabs > li.active > a:hover,
.light-green .page_single_testimonial:hover,
.light-green .post_pagination > a:hover,
.light-green .faq_menu_title li.active a,
.light-green .nav-tabs li.single_tab a:hover,
.light-green .single_blog:hover .blog_content,
.light-green .single_plan > img,
.light-green .case_information,
.light-green .comment_button button,
.light-green .active_service .single_service,
.light-green .single_service:hover,
.light-green .submit_btn,
.light-green .cta_btn,
.light-green .single-pricing-box:hover,
.boxwidth_body.light-green .layout_mood .boxwith_mood,
.wide_moodstyle.light-green .layout_mood .wide_mood,
.light-green .active_table .single-pricing-box {
  background: #00D664 none repeat scroll 0 0 !important;
}


.light-green .section_title h2 span,
.light-green #demo-box i.fa,
.light-green .topheader_right a i:hover,
.light-green .main_menu ul li a:hover,
.light-green .ss-trigger i:hover,
.light-green .ss-close i,
.light-green .slider_area h1 span,
.light-green .check_seo_area h1 span,
.light-green .cta_text > h2 span,
.light-green .offer_area h1 span,
.light-green .right-control.carousel-control,
.light-green .left-control i,
.light-green .right-control i,
.light-green .left-control i,
.light-green .right-control i,
.light-green .single_widget ul li a:hover,
.light-green .copyright span,
.light-green .about-us-right span,
.light-green .awesome-team-member-top span,
.light-green .blog-details a:hover,
.light-green .comments-info .fa.fa-reply-all,
.light-green .primary_area h5 i,
.light-green .map_social a i:hover,
.light-green .cta_btn,
.light-green .learn_more,
.light-green .about-title-area span,
.light-green .error_page > h1 {
  color: #00D664;
}



.light-green .primary_area h5 i,
.light-green .layout_mood .wide_mood,
.light-green .layout_mood .boxwith_mood {
    border: 2px solid #00D664;
}
.light-green .map_social > span {
    border-top: 1px solid #00D664;
}

.light-green .ssc-inner form input {
  border-color: -moz-use-text-color -moz-use-text-color #00D664;
}

.light-green #toTop {
  background: #00D664 url("../images/totop.png") no-repeat scroll 0 0;
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
.light-green .main_menu ul li a:hover {
    background: #00D664;
}
    

}

 